body {
  margin: 0;
  font-family: 'Indie Flower', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://theultralinx.com/.image/t_share/MTMyNjI4MDgwNjEwMDQ1OTIy/beer-cheers___gif.gif");


  text-align: center;
  margin-top: 200px;
}
body h1{
  font-family: 'Indie Flower', cursive;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbar-title{
  font-family: 'Pacifico', cursive;
  
}
.test{
 width: 8rem; 
 margin: auto;
}
.card{
border: 2px solid yellow;
 
}
.rooms-card{
 margin:auto;
  margin-top: 10px ;
  margin-bottom: 20px !important;
  
  border: yellow;
  }
  .room-name{
    font-family: 'Pacifico', cursive;
  }
.question-form{
  width: 290px; 
 margin: auto;
 color:#ffc107
}
.question-form h2{
  font-family:'Righteous', cursive
}
.quest-btn{
  margin:auto !important;
}
.one-btn{
  margin-right: 20px;
  margin-left: 550px;

}
.two-btn{
  margin-left: 20px;

 
}
.three-btn{
  margin-left: 20px;
  margin-top: 250px;
 

}
.four-btn{
  margin-top: 250px;
}
.text-homepage h1{
color:white;
font-family: 'Righteous', cursive;
}
.text-homepage p{
  color:white;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  
}
